.ProjectContainer {
    border: 1px solid gray;
    padding: 0 20px 20px 20px;
    margin: 20px 0;
    color: white;
    cursor: default;
    border-radius: 5px;
    filter: brightness(50%);
    background-color: black;
}

.ProjectContainer.expanded {
    filter: brightness(100%);
}

.ProjectContainer h2 {
    cursor: pointer;
}

.ProjectContainer:hover {
    filter: brightness(100%);
}

.expansionIcon {
    cursor: pointer;
    float: left;
    padding: 10px;
    margin-top: -10px;
    margin-left: -15px;
}

.descriptionBlock {
    margin-left: 20px;
}

.clickableLink {
    color: #5959c6;
    cursor: pointer;
    background: #353535;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
}

.clickableLink:hover {
    color: #6363f9;
    background: #3b3b3b;
}

.projectLinks {
    margin-top: 20px;
    /*background: #353535;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
}