.ProjectContainer {
    border: 1px solid gray;
    padding: 20px;
    margin: 20px 0;
}

.expansionIcon {
    float: left;
}

.descriptionBlock {
    margin-left: 20px;
}

.clickableLink{
    color: #30308c;
    cursor:pointer;
}

.clickableLink:hover{
    color: #5959c6;
}