.TabTitle.active {
    color: white;
    box-shadow: inset 0 -4px 0 -2px white;
    background: #545454;
}

.TabTitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    width: 50vw;
    background: #1f1f1f;
    color: #6b6b6b;
    font-size: max(20px, min(3vh, 25px));
    font-weight: bolder;
}

.TabTitle.inactive:hover {
    background: #343434;
    color: #a5a5a5;
}

.TabSelector {
    height: 100%;
    width: 100%;
    position: absolute;
}


.TabHeader {
    height: 10%;
    justify-content: center;
    min-height: 30px;
    display: inline-table;
}

.TabContent {
    height: 90%;
    overflow: auto;
    padding: 0 10vw;
}