.TabTitle.active {
    color: white;
}

.TabTitle {
    display: inline;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}

.TabSelector {
    height: 100%;
    width: 100%;
    position: absolute;
}


.TabHeader {
    height: 10%;
    justify-content: center;
    display: flex;
}

.TabContent {
    height: 90%;
    overflow: auto;
    padding: 0 10vw;
}